/*
===========================================================
							FONTE
===========================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
==========================================================
	CSS RESET	
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
==========================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=======================================================
						GERAL
=======================================================
*/

body {
	background-color: white;
	font-family: 'Arial';
	padding: 3vw 10vw 10vw 10vw;
}



/*
==========================================================
                HEADER  
==========================================================
*/

header {
	background-color: #F8F8F8;
}

header nav a {
    text-decoration: none;
	color: black;
}

header {
	font-family: 'Arial';
}


header nav p span.danny{
	font-weight: bold;
}


header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}
header nav ul li a{
	color: #868686;
    margin: 0 4vw 0 0;
}body {
	padding: 3vw 10vw 10vw 10vw;
}


/*
==========================================================
                BOOKS	  
==========================================================
*/


main section.book {
    display: flex;
	margin: 5vw 0 2vw 0;
	background-color: #F8F8F8;
}

main section.book h1{
	font-family: 'Playfair Display';
	font-size: 52px;
}

main section.book h1 span.cor{
	color: #47C183;
}

main section.book p{
	font-size: 20px;
	margin: 2vw 20vw 3.5vw 0;
}

main section.book button{
	background-color: #232323;
	color: #FFFFFF;
	padding: 2vw 3.5vw 2vw 3.5vw;
	font-size: 0.9vw;
	font-weight: bold;
	margin: 0 5vw 0 0;
}

main section.book a{
	color: black;
}

/*
==========================================================
                What’s the Point?	  
==========================================================
*/

section.point h2{
	font-size: 2.0rem;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif ;
}

section.point ul li{
	display: flex;
	margin: 3vw 8vw 4.5vw 8vw;

}

section.point ul li p{
	padding: 3vw 5vw 0 5vw;
}

section.point ul li.cor{
	background-color: #F8F8F8;
}

/*
==========================================================
                Experiments 
==========================================================
*/

section.experiments{
	font-family: 'Arial';
}

section.experiments h2 {
	text-align: center;
	font-size: 2.0rem;
	margin: 0 0 3.4vw 0;
	font-weight: bold;
	font-family: 'Arial';
}

section.experiments ul{
	display: flex;
	font-size: 1.3rem;
}

section.experiments ul li{
	margin: 0 10px 0 10px;
}

section.experiments ul li img{
	margin: 0 10px 0 0;
}


section.experiments ul li p span.negrito{
	font-weight: bold;
}

section.experiments ul li p.p2{
	margin: 1.4vw 0 0 0;
}

section.experiments ul li.cor-diferente{
	background-color: #F8F8F8;
}





/*
==================================================
                     FOOTER
==================================================
*/

footer{
	font-size: 1rem;
	margin: 50px 0 0 0;
	font-family: 'Arial';
}

footer nav{
	display: flex;
	justify-content: space-between;
}

footer nav p a{
	text-decoration: none;
	color: black;
}



footer nav ul{
	display: flex;
}

footer nav ul li{
	margin: 0 3vw 0 0 ;
}

footer nav ul li a{
	color: #868686;
}

section.experiments{
	border-bottom: 1px solid #F4F4F4;
	padding: 2.8vw 0 2.7vw 0;
}


footer p.copy{
	margin: 15px 0 0 0;
}

/*
======================================================
					FUNDO	
======================================================

*/

body div.a {
	background-color: #F8F8F8;
}